 <!-- section-menu-left -->
 <% if(userData.role == "admin"){ %>
	<div class="section-menu-left">
		<div class="box-logo" style="justify-content: center;text-align: center;display: flex;">
			<a href="/dashboard">
				<img class="" style="width: 120px;" id="logo_header_mobile" alt="" src="../../admin/images/logo/logo.png" data-light="../../admin/images/logo/logo.png" data-dark="../../admin/images/logo/logo.png" data-width="94px" data-height="32px" data-retina="../../admin/images/logo/logo.png">
			</a>
			<div class="button-show-hide ml-2">
				<i class="icon-menu-left"></i>
			</div>
		</div>
		<div class="center">
			<div class="center-item">
				<div class="center-heading">Main Home</div>
				<ul class="menu-list">
					<li class="menu-item active">
						<a href="/dashboard" class="menu-item-button">
							<div class="icon"><i class="icon-grid"></i></div>
							<div class="text">Dashboard</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="center-item">
				<div class="center-heading">All page</div>
				<ul class="menu-list">
					<li class="menu-item has-children">
						<a href="javascript:void(0);" class="menu-item-button">
							<div class="icon"><i class="icon-shopping-cart"></i></div>
							<div class="text">Products</div>
						</a>
						<ul class="sub-menu">
							<li class="sub-menu-item">
								<a href="/dashboard/add-product" class="">
									<div class="text">Add Product</div>
								</a>
							</li>
							<li class="sub-menu-item">
								<a href="/dashboard/product-list" class="">
									<div class="text">Product List</div>
								</a>
							</li>
						</ul>
					</li>
					<li class="menu-item has-children">
						<a href="javascript:void(0);" class="menu-item-button">
							<div class="icon"><i class="icon-layers"></i></div>
							<div class="text">Category</div>
						</a>
						<ul class="sub-menu">
							<li class="sub-menu-item">
								<a href="/dashboard/category-list" class="">
									<div class="text">Category list</div>
								</a>
							</li>
							<li class="sub-menu-item">
								<a href="/dashboard/new-category" class="">
									<div class="text">New category</div>
								</a>
							</li>
						</ul>
					</li>
					<li class="menu-item has-children">
						<a href="javascript:void(0);" class="menu-item-button">
							<div class="icon"><i class="icon-file-plus"></i></div>
							<div class="text">Order</div>
						</a>
						<ul class="sub-menu">
							<li class="sub-menu-item">
								<a href="/dashboard/order-list" class="">
									<div class="text">Order list</div>
								</a>
							</li>
						</ul>
					</li>
					<!-- <li class="menu-item has-children">
						<a href="javascript:void(0);" class="menu-item-button">
							<div class="icon"><i class="icon-file-plus"></i></div>
							<div class="text">Payment</div>
						</a>
						<ul class="sub-menu">
							<li class="sub-menu-item">
								<a href="/dashboard/payment-detail" class="">
									<div class="text">Payment list</div>
								</a>
							</li>
						</ul>
					</li> -->
					<li class="menu-item has-children">
						<a href="javascript:void(0);" class="menu-item-button">
							<div class="icon"><i class="icon-user"></i></div>
							<div class="text">User</div>
						</a>
						<ul class="sub-menu">
							<li class="sub-menu-item">
								<a href="/dashboard/all-user" class="">
									<div class="text">All user</div>
								</a>
							</li>
							<li class="sub-menu-item">
								<a href="/dashboard/add-new-user" class="">
									<div class="text">Add new user</div>
								</a>
							</li>
							
						</ul>
					</li>
					<li class="menu-item">
						<a href="/dashboard/enquiry" class="">
							<div class="icon"><i class="icon-image"></i></div>
							<div class="text">Enquiry</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="center-item">
				<div class="center-heading">Setting</div>
				<ul class="menu-list">
	
					<li class="menu-item">
						<a href="/dashboard/setting" class="">
							<div class="icon"><i class="icon-settings"></i></div>
							<div class="text">Setting</div>
						</a>
					</li> 
					<li class="menu-item">
						<a href="/dashboard/profile" class="">
							<div class="icon"><i class="icon-settings"></i></div>
							<div class="text">Profile Setting</div>
						</a>
					</li>
				</ul>
			</div>
		  <!-- <div class="center-item">
				<div class="center-heading">Components</div>
				<ul class="menu-list">
					<li class="menu-item">
						<a href="/dashboard/components" class="">
							<div class="icon"><i class="icon-database"></i></div>
							<div class="text">Components</div>
						</a>
					</li>
				</ul>
			</div> -->
			
			<!-- <div class="center-item">
				<div class="center-heading">Connect us</div>
				<ul class="wg-social">
					<li>
						<a href="#"><i class="icon-facebook"></i></a>
					</li>
					<li class="active">
						<a href="#"><i class="icon-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="icon-linkedin"></i></a>
					</li>
					<li>
						<a href="#"><i class="icon-instagram"></i></a>
					</li>
				</ul>
			</div> -->
		</div>
		<div class="bot text-center">
			<div class="wrap">
				<div class="mb-20">
					<img src="../../admin/images/menu-left/img-bot.png" alt="">
				</div>
				<div class="mb-20">
					<h6>Hi, how can we help?</h6>
					<div class="text">Contact us if you have any assistance, we will contact you as soon as possible</div>
				</div>
				<a href="/contact" class="tf-button w-full">Contact</a>
			</div>
		</div>
	</div>
	<% } else { %>
 <!-- section-menu-left -->
 <div class="section-menu-left">
	<div class="box-logo">
		<a href="/dashboard">
			<img class="" id="logo_header_mobile" alt="" src="../../admin/images/logo/logo.png" data-light="../../admin/images/logo/logo.png" data-dark="../../admin/images/logo/logo.png" data-width="14px" data-height="12px" data-retina="../../admin/images/logo/logo.png">
		</a>
		<div class="button-show-hide">
			<i class="icon-menu-left"></i>
		</div>
	</div>
	<div class="center">
		<div class="center-item">
			<div class="center-heading">Main Home</div>
			<ul class="menu-list">
				<li class="menu-item has-children active">
					<a href="/dashboard/" class="menu-item-button">
						<div class="icon"><i class="icon-grid"></i></div>
						<div class="text">Dashboard</div>
					</a>
					
				</li>
			</ul>
		</div>
		<div class="center-item">
			<div class="center-heading">All page</div>
			<ul class="menu-list">
				<li class="menu-item">
					<a href="/dashboard/order-list" class="menu-item-button">
						<div class="icon"><i class="icon-grid"></i></div>
						<div class="text">Order list</div>
					</a>
					
				</li>
				<li class="menu-item">
					<a href="/dashboard/payment-detail" class="menu-item-button">
						<div class="icon"><i class="icon-grid"></i></div>
						<div class="text">Payment</div>
					</a>
					
				</li>
			</ul>
		</div>
		<div class="center-item">
			<div class="center-heading">Setting</div>
			<ul class="menu-list">
				
				<li class="menu-item">
					<a href="/dashboard/profile" class="">
						<div class="icon"><i class="icon-settings"></i></div>
						<div class="text">Profile Setting</div>
					</a>
				</li>
			</ul>
		</div>
	 
		<div class="center-item">
			<div class="center-heading">Support</div>
			<ul class="menu-list">
				<li class="menu-item">
					<a href="#" class="">
						<div class="icon"><i class="icon-help-circle"></i></div>
						<div class="text">Help center</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="center-item">
			<div class="center-heading">Connect us</div>
			<ul class="wg-social">
				<li>
					<a href="#"><i class="icon-facebook"></i></a>
				</li>
				<li class="active">
					<a href="#"><i class="icon-twitter"></i></a>
				</li>
				<li>
					<a href="#"><i class="icon-linkedin"></i></a>
				</li>
				<li>
					<a href="#"><i class="icon-instagram"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="bot text-center">
		<div class="wrap">
			<div class="mb-20">
				<img src="../../admin/images/menu-left/img-bot.png" alt="">
			</div>
			<div class="mb-20">
				<h6>Hi, how can we help?</h6>
				<div class="text">Contact us if you have any assistance, we will contact you as soon as possible</div>
			</div>
			<a href="#" class="tf-button w-full">Contact</a>
		</div>
	</div>
</div>
<!-- /section-menu-left -->
		<% } %>
<!-- /section-menu-left -->