<aside id="column-left" class="col-sm-3">
	<!-- <div class="account-content list-group">
		<div class="box-content">
			<h3 class="toggled relative">Account</h3>
			<ul class="list-unstyled">
				<li><a href="my-account.html" class="list-group-item">Login</a></li>
				<li><a href="my-account.html" class="list-group-item">Register</a></li>
				<li><a href="#" class="list-group-item">Forgotten Password</a></li>
				<li><a href="my-account.html" class="list-group-item">My Account</a></li>
				<li><a href="#" class="list-group-item">Address Book</a></li>
				<li><a href="#" class="list-group-item">Wish List</a></li>
				<li><a href="#" class="list-group-item">Order History</a></li>
				<li><a href="#" class="list-group-item">Downloads</a></li>
				<li><a href="#" class="list-group-item">Subscriptions</a></li>
				<li><a href="#" class="list-group-item">Reward Points</a></li>
				<li><a href="#" class="list-group-item">Returns</a></li>
				<li><a href="#" class="list-group-item">Transactions</a></li>
				<li><a href="#" class="list-group-item">Newsletter</a></li>
			</ul>
		</div>
	</div> -->
	<div class="sidebar">
		<div class="box-content">
			<h3 class="toggled relative">Quick Links</h3>
			<ul class="list-unstyled">
				<li><a href="/account" class="list-group-item">Account</a></li>
				<li><a href="/myorder" class="list-group-item">My Order</a></li>
				<li><a href="/mywishlist" class="list-group-item">My Wishlist</a></li>
				<li><a href="/myprofile" class="list-group-item">My Profile</a></li>
				<li><a href="/shopping-cart" class="list-group-item">My Cart</a></li>
			</ul>

			<h3 class="toggled relative">Quick Links</h3>
			<ul class="list-unstyled">
				<li><a href="/privacy-policy" class="list-group-item">Privacy Policy</a></li>
				<li><a href="/terms-and-conditions" class="list-group-item">Terms &amp; Conditions</a></li>
				<li><a href="/refund-policy" class="list-group-item">Refund Policy</a></li>
			</ul>
		</div>
	</div>
</aside>