<!-- footer -->

<footer>
	<div class="container">
		<div class="footer-top">
			<div class="row">
				<div class="col-md-4">
					<div class="position-footer-left">
						<h5 class="toggled title">
							contact
						</h5>
						<ul class="list-unstyled">
							<li>
								<div class="site">
									<div class="contact_title"><i class="fa-solid fa-location-dot"></i></div>
									<div class="contact_site">Nandok Block, Ranipool Bazaar, Gangtok, Sikkim 737135, India
									</div>
								</div>
							</li>
							<li>
								<div class="phone">
									<div class="contact_title"><i class="fa fa-phone"></i></div>
									<div class="contact_site"><a href="tel:+919101394194" class="contact_site">+91
											9101394194</a></div>
								</div>
							</li>
							<!-- <li>
								<div class="fax">
									<div class="contact_title"><i class="fa-brands fa-whatsapp"></i></div>
									<div class="contact_site"><a href="https://wa.link/k3fcqc">+91 9101394194</a></div>
								</div>
							</li> -->
							<li>
								<div class="email">
									<div class="contact_title"><i class="fa fa-envelope"></i></div>
									<div class="contact_site"><a href="mailto:info@thepallustory.com"
											class="contact_site">contact@thepallustory.com</a></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-3">
					<h5 class="toggled">Information</h5>
					<ul class="list-unstyled">
						<li><a href="/contact">Contact</a></li>
						<li><a href="/terms-and-conditions">Terms & Conditions</a></li>
						<li><a href="/refund-policy">Refund Policy</a></li>
						<li><a href="/privacy-policy">Privacy Policy</a></li>
							
				
					</ul>
				</div>
				<div class="col-md-3">
					<h5 class="toggled">My Account</h5>
					<ul class="list-unstyled">
						<li><a href="/my-account">Login</a></li>
						<li><a href="/register">Register</a></li>
						<li><a href="/my-account">Account</a></li>
						<li><a href="/shopping-cart">View Cart</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<div class="position-footer-right">
						<div class="follow-link">
							<h4>find us on</h4>
							<div class="social-media">
								<a href="https://www.instagram.com/thepallustory"><i class="fa-brands fa-facebook-f"></i></a>
								<a href="https://www.instagram.com/thepallustory"><i class="fa-brands fa-instagram"></i></a>
								<a href="#"><i class="fa-brands fa-whatsapp"></i></a>
								<a href="https://www.instagram.com/thepallustory"><i class="fa-brands fa-pinterest-p"></i></a>
							</div>
						</div>
						<div class="payment-link">
							<h4>payment</h4>
							<div class="payment-method">
								<a href="#"><i class="fa-brands fa-cc-visa"></i></a>
								<a href="#"><i class="fa-brands fa-cc-mastercard"></i></a>
								<a href="#"><i class="fa-brands fa-cc-paypal"></i></a>
								<a href="#"><i class="fa-brands fa-cc-discover"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p class="copyright">Developed By Blazync Technologies © 2024</p>
	</div>

	<!-- WhatsApp Button -->
	<div class="whatsapp-button ">
		<a href="https://wa.me/919101394194" target="_blank" class="whatsapp-link">
			<img src="../../assets/images/icons8-whatsapp.svg" alt="WhatsApp" class="whatsapp-icon">
		</a>
	</div>
	<div><a class="scrollToTop b/ack-to-top" title="Top"></a></div>
</footer>
<!-- .footer -->
<script src="../../assets/js/vendors/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
<!-- owl-carousel js -->
<script type="text/javascript" src="../../assets/js/owl.carousel.min.js"></script>
<!-- js -->
<script src="../../assets/js/vipodha_megamenu.js"></script>
<!-- wow javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" type="text/javascript"></script>
<script type="text/javascript">new WOW().init();</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet" />
<!-- Main js -->
<script type="text/javascript" src="../../assets/js/theme.js"></script>
</body>

</html>