<%- include('../includes/webHeader.ejs') %>

	<!-- About Us -->
	<section>
		<div class="breadcrumb-main">
		   <div class="container">
			  <div class="breadcrumb-container">
				 <h2 class="page-title">About Us</h2>
				 <ul class="breadcrumb">
					<li class="breadcrumb-item">
					   <a href="index.html">
					   <i class="fas fa-home"></i>
					   </a>
					</li>
					<li class="breadcrumb-item">
					   <a href="about.html">
					   About Us</a>
					</li>
				 </ul>
			  </div>
		   </div>
		</div>
	</section>
	<div class="blog-section">
		<div class="container">
			<div class="row">
				<%- include('../includes/webSidebar.ejs') %>
				<div id="content" class="col-sm-9  all-blog">
					<div class="information-information">
						 <div class="title">Welcome to The Pallu Story</div>
						<p class="description">
							We, at The Pallu Story aim to promote, the six yard wonder: saree, a traditional attire that has its origin in the Indian Subcontinent.
							Our aim is to provide you with the perfect blend of heritage and modern flair.
							Welcome to a unique collection of the most stunning sarees of superlative quality and design.
						
							Each saree you see, is singled out amongst many, for its connection to ethnicity, comfort and refinement of the fabric and its distinctive shades of colour.
						
							Hand-picked with love, all our sarees are suitable for multiple occasions and ready to be a part of your timeless stories.
						
							Join us in celebrating the most loved garment of our country.
						</p>
						<h2 class="title">Vision:</h2>
						<p class="description">To showcase the beauty and versatility of sarees, preserving their cultural significance and embracing contemporary trends.</p>
						<h2 class="title">Mission:</h2>
						<p class="description">To offer a curated selection of high-quality sarees that cater to diverse tastes and occasions, ensuring customer satisfaction through exceptional service.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .About Us -->
	<%- include('../includes/webFooter.ejs') %>