<%- include('../includes/webHeader.ejs') %>

	<section>
		<div class="breadcrumb-main">
			<div class="container">
				<div class="breadcrumb-container">
					<h2 class="page-title">Latest Blog</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index">
								<i class="fas fa-home"></i>
							</a>
						</li>
						<li class="breadcrumb-item">
							<a href="blog">Latest Blog</a>
							</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- blog -->
	<div class="blog-section">
		<div class="container">
			<div class="row">
				<%- include('../includes/webSidebar.ejs') %>
				<div id="content" class="col-sm-9  all-blog">
					<div class="row">
						<div class="product-block col-md-6">
							<div class="product-block-inner clearfix">
								<div class="blog-left blog-left-content">
									<div class="blog-image">
										<img src="assets/images/blog/3.png" alt="Blogs" title="Blogs"
											class="img-responsive">
										<div class="post-image-hover"></div>
										<p class="post_hover">											
											<a class="icon readmore_link" title="Click to view Read More"
												href="the-standard-lorem"><i class="fa fa-link"></i></a>
										</p>										
									</div>
								</div>
								<div class="blog-right blog-right-content">
									<div class="date-comment blog-date-comment">
										<div class="date-time">
											<i class="fa fa-calendar hidden"></i>
											<div class="blog-date">22 Nov</div>
										</div>
										<div class="comment-wrapper">
											<div class="write-comment-count">
												<a href="many-publishing-packages">
													<i class="fa-solid fa-comments"></i>
													<span>1 Comments</span>
												</a>
											</div>
										</div>
									</div>
									<h5 class="blog_title"><a href="the-standard-lorem">The Standard Lorem</a></h5>
									<div class="blog-desc">Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's standard dummy text
										ever since the 1500...</div>
									<div class="read-more">
										<a href="the-standard-lorem" class="btn btn-info"><i
												class="fa fa-link hidden"></i>Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-block col-md-6">
							<div class="product-block-inner clearfix">
								<div class="blog-left blog-left-content">
									<div class="blog-image">
										<img src="assets/images/blog/1.png" alt="Blogs" title="Blogs"
											class="img-responsive">
										<div class="post-image-hover"></div>
										<p class="post_hover">
											<a class="icon readmore_link" title="Click to view Read More"
												href="many-publishing-packages"><i class="fa fa-link"></i></a>
										</p>
									</div>
								</div>
								<div class="blog-right blog-right-content">
									<div class="date-comment blog-date-comment">
										<div class="date-time">
											<i class="fa fa-calendar hidden"></i>
											<div class="blog-date">22 Nov</div>
										</div>
										<div class="comment-wrapper">
											<div class="write-comment-count">
												<a href="many-publishing-packages">
													<i class="fa-solid fa-comments"></i>
													<span>1 Comments</span>
												</a>
											</div>
										</div>
									</div>
									<h5 class="blog_title"><a href="many-publishing-packages">Many Publishing Packages</a></h5>
									<div class="blog-desc">Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's standard dummy text
										ever since the 1500...</div>
									<div class="read-more">
										<a href="many-publishing-packages" class="btn btn-info"><i
												class="fa fa-link hidden"></i>Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-block col-md-6">
							<div class="product-block-inner clearfix">
								<div class="blog-left blog-left-content">
									<div class="blog-image">
										<img src="assets/images/blog/4.png" alt="Blogs" title="Blogs"
											class="img-responsive">
										<div class="post-image-hover"></div>
										<p class="post_hover">											
											<a class="icon readmore_link" title="Click to view Read More"
												href="there-are-many-variations"><i class="fa fa-link"></i></a>
										</p>
									</div>
								</div>
								<div class="blog-right blog-right-content">
									<div class="date-comment blog-date-comment">
										<div class="date-time">
											<i class="fa fa-calendar hidden"></i>
											<div class="blog-date">22 Nov</div>
										</div>
										<div class="comment-wrapper">
											<div class="write-comment-count">
												<a href="many-publishing-packages">
													<i class="fa-solid fa-comments"></i>
													<span>1 Comments</span>
												</a>
											</div>
										</div>
									</div>
									<h5 class="blog_title"><a href="there-are-many-variations">There Are Many Variations</a></h5>
									<div class="blog-desc">Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's standard dummy text
										ever since the 1500...</div>
									<div class="read-more">
										<a href="there-are-many-variations" class="btn btn-info"><i
												class="fa fa-link hidden"></i>Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-block col-md-6">
							<div class="product-block-inner clearfix">
								<div class="blog-left blog-left-content">
									<div class="blog-image">
										<img src="assets/images/blog/2.png" alt="Blogs" title="Blogs"
											class="img-responsive">
										<div class="post-image-hover"></div>
										<p class="post_hover">											
											<a class="icon readmore_link" title="Click to view Read More"
												href="it-is-established-fact"><i class="fa fa-link"></i></a>
										</p>
									</div>
								</div>
								<div class="blog-right blog-right-content">
									<div class="date-comment blog-date-comment">
										<div class="date-time">
											<i class="fa fa-calendar hidden"></i>
											<div class="blog-date">22 Nov</div>
										</div>
										<div class="comment-wrapper">
											<div class="write-comment-count">
												<a href="many-publishing-packages">
													<i class="fa-solid fa-comments"></i>
													<span>1 Comments</span>
												</a>
											</div>
										</div>
									</div>
									<h5 class="blog_title"><a href="it-is-established-fact">It is established fact</a></h5>
									<div class="blog-desc">Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's standard dummy text
										ever since the 1500...</div>
									<div class="read-more">
										<a href="it-is-established-fact" class="btn btn-info"><i
												class="fa fa-link hidden"></i>Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pagination-main">
						<div class="row">
							<div class="col-sm-6 text-left">
								Showing 1 to 4 of 5 (2 Pages)
							</div>
							<div class="col-sm-6 text-right">
								<ul class="pagination">
									<li class="noe "><a href="#">1</a>
									</li>
									<li class="page"><a href="#">2</a>
									</li>
									<li class="next"><a href="#">
											&gt; </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .blog -->
	<%- include('../includes/webFooter.ejs') %>