<%- include('../includes/webHeader.ejs') %>

	<!-- Delivery Information -->
	<section>
		<div class="breadcrumb-main">
			<div class="container">
				<div class="breadcrumb-container">
					<h2 class="page-title">Refund Policy</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index">
								<i class="fas fa-home"></i>
							</a>
						</li>
						<li class="breadcrumb-item">
							<a href="refundpolicy">
								Refund Policy</a>
							</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<div class="information-section">
		<div class="container">
			<div class="row">
				<%- include('../includes/webSidebar.ejs') %>
				<div id="content" class="col-sm-9 all-blog">
					<div class="information-information">
						<h2 class="title">No Refund Policy</h2>
						<p class="description">
							Currently, we do not offer refunds. All sales are final.
						</p>
						<h2 class="title">Exceptions</h2>
						<p class="description">
							Refunds may be granted in special cases, such as product defects. To qualify for a refund, you must provide proof of the defect within 7 days of receiving the product.
						</p>
						<h2 class="title">Contact for Refunds</h2>
						<p class="description">
							To request a refund, please contact our customer service team with your order details and proof of defect:
						</p>
						<div class="contact-info">
							<ul>
								<li><strong>Address:</strong> Nandok Block, Ranipool Bazaar, Gangtok, Sikkim 737135, India</li>
								<li><strong>Phone:</strong> +91 9101394194</li>
								<li><strong>Email:</strong> contact@thepallustory.com</li>
							</ul>
							
        				</div>
						<h2 class="title">Processing Refunds</h2>
						<p class="description">
							Once your return is received and inspected, we will notify you of the approval or rejection of your refund. If approved, the refund will be processed, and a credit will automatically be applied to your original method of payment within a certain amount of days.
        </p>
						<h2 class="title">Non-Refundable Items</h2>
						<p class="description">
							Several types of goods are exempt from being returned:
							<ul>
								<li>Gift cards</li>
								<li>Downloadable software products</li>
								<li>Some health and personal care items</li>
							</ul>
						</p>
						<h2 class="title">To Complete Your Return</h2>
						<p class="description">
							To complete your return, we require a receipt or proof of purchase. Please do not send your purchase back to the manufacturer.
						</p>
						<h2 class="title">Refund Process</h2>
						<p class="description">
							Once your return is received and inspected, we will inspect it and then process refund</p>
							<h2 class="title">Contact Us</h2>
							<div class="contact-info">
							<ul>
								<li><strong>Address:</strong> Nandok Block, Ranipool Bazaar, Gangtok, Sikkim 737135, India</li>
								<li><strong>Phone:</strong> +91 9101394194</li>
								<li><strong>Email:</strong> contact@thepallustory.com</li>
							</ul>
							
        				</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- .Delivery Information -->

	<%- include('../includes/webFooter.ejs') %>