<%- include('../includes/webHeader.ejs') %>

	<!-- Delivery Information -->
	<section>
		<div class="breadcrumb-main">
			<div class="container">
				<div class="breadcrumb-container">
					<h2 class="page-title">Term and Condition</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index">
								<i class="fas fa-home"></i>
							</a>
						</li>
						<li class="breadcrumb-item">
							<a href="delivery-information">
								Term and Condition</a>
							</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<div class="information-section">
		<div class="container">
			<div class="row">
				<%- include('../includes/webSidebar.ejs') %>
				<div id="content" class="col-sm-9 all-blog">
					<div class="information-information">
						<h2 class="title">Terms & Conditions</h2>
						<p class="description">
						These Terms and Conditions govern your use of The Pallu Story website, an e-commerce women's wear store owned and operated by Rashmi Rai. By accessing or using the website, you agree to be bound by these Terms and Conditions and accept all legal consequences. If you do not agree to these terms, please refrain from using our website.
					</p>
						<h2 class="title">Intellectual Property Rights</h2>
						<p class="description">
							All content included on this website, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of The Pallu Story and protected by international copyright laws. The compilation of all content on this site is the exclusive property of The Pallu Story and protected by international copyright laws.
						</p>
						<h2 class="title">Limitations of Liability</h2>
						<p class="description">
							The Pallu Story shall not be liable for any special or consequential damages that result from the use of, or the inability to use, the materials on this site or the performance of the products.
						</p>
						<h2 class="title">Prohibited Uses</h2>
						<p class="description">
							In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the site or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial, or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet; (h) to collect or track the personal information of others; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the Service or any related website, other websites, or the Internet. We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses.
						</p>
						<h2 class="title">Modifications to the Service and Prices</h2>
						<p class="description">
							Prices for our products are subject to change without notice. We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.
						</p>
						<h2 class="title">Refund Policy</h2>
						<p class="description">
							Currently, we do not offer refunds. All sales are final.
						</p>
						<h2 class="title">Exceptions</h2>
						<p class="description">
							Refunds may be granted in special cases, such as product defects. To qualify for a refund, you must provide proof of the defect within 7 days of receiving the product.
						</p>
						<h2 class="title">Contact for Refunds</h2>
						<p class="description">
							To request a refund, please contact our customer service team with your order details and proof of defect:
						</p>
						<h2 class="title">Non-Refundable Items</h2>
						<p class="description">
							Several types of goods are exempt from being returned:
							<ul>
								<li>Gift cards</li>
								<li>Downloadable software products</li>
								<li>Some health and personal care items</li>
							</ul>
						</p>
						<h2 class="title">To Complete Your Return</h2>
						<p class="description">
							To complete your return, we require a receipt or proof of purchase. Please do not send your purchase back to the manufacturer.
						</p>
						<h2 class="title">Refund Process</h2>
						<p class="description">
							Once your return is received and inspected, we will inspect it and then process refund.
						</p>
						<h2 class="title">Contact Us</h2>
						<div class="contact-info">
							<ul>
								<li><strong>Address:</strong> Nandok Block, Ranipool Bazaar, Gangtok, Sikkim 737135, India</li>
								<li><strong>Phone:</strong> +91 9101394194</li>
								<li><strong>Email:</strong> contact@thepallustory.com</li>
							</ul>
							
        				</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	
	<!-- .Delivery Information -->

	<%- include('../includes/webFooter.ejs') %>